<p id="notice"><%= notice %></p>

<h1>Blades</h1>

<table>
  <thead>
    <tr>
      <th>Length</th>
      <th>Width</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blades.each do |blade| %>
      <tr>
        <td><%= blade.length %></td>
        <td><%= blade.width %></td>
        <td><%= blade.type %></td>
        <td><%= link_to 'Show', blade %></td>
        <td><%= link_to 'Edit', edit_blade_path(blade) %></td>
        <td><%= link_to 'Destroy', blade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blade', new_blade_path %>
