<p id="notice"><%= notice %></p>

<p>
  <strong>Blade:</strong>
  <%= @fan.blade.id %>
</p>

<p>
  <strong>Motor:</strong>
  <%= @fan.motor.id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @fan.location.id %>
</p>

<p>
  <strong>State:</strong>
  <%= @fan.state %>
</p>

<%= link_to 'Edit', edit_fan_path(@fan) %> |
<%= link_to 'Back', fans_path %>
